doctype 5

include conditionals

html.no-js
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		
		title= title

		meta(name="description", content=description)
		meta(name="viewport", content="width=device-width")

		include css
		block css

		script(src="/javascripts/vendor/modernizr.min.js")
	body(ng-app="app")
		include menu
		
		.container-fluid
			block content

		include footer

		include plugins
		include application
		block javascript