script(src="/javascripts/vendor/jquery.min.js")

script(src="/javascripts/vendor/angular.js")
	
script(src="/javascripts/vendor/bootstrap/bootstrap-affix.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-alert.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-dropdown.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-tooltip.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-modal.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-transition.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-button.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-popover.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-typeahead.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-carousel.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-scrollspy.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-collapse.js")
script(src="/javascripts/vendor/bootstrap/bootstrap-tab.js")