extends layout

block content
	.row-fluid
		.span3
			.well.sidebar
				h2 #{midname}, #{name}

				dl
					dt Age
					dd 25

					dt Contry
					dd Costa Rica

					dt Job Position
					dd Senior Software Engineer

		.span9